
include mixins.jade 


+nav("EdgoDB", "dropdown_menu")
  +nav_item( "/", "active" ) About
  +nav_item( "#about" ) FAQ
  +nav_item_dropdown("#")( label="Listings")
    +nav_item( "/gene" ) Gene
    +nav_item( "/variant" ) Variant
    +nav_divider 
    +nav_item( "/measurement" ) Measurements
