
include mixins.jade 


+nav("EdgoDB", "dropdown_menu")
  +nav_item( "/") Home
  +nav_item( "/interaction" ) Interaction
  +nav_item_dropdown("#")( label="Listings")
    +nav_item( "/gene" ) Gene
    +nav_item( "/variant" ) Variant
    +nav_divider 
    +nav_item( "/measurement" ) Measurements
