@import styluscolors


nav_bar_bg_color = #ececec
nav_bar_bot_border_color = #cfcfcf


font_color = black
bg_color = white
link_color = #8acde6
nav_link_color = #3e3e3e

footer_height = 50px
header_height = 52px
