@import styluscolors


nav_bar_bg_color = #ececec
nav_bar_bot_border_color = #cfcfcf


font_color = black
bg_color = white
link_color = #ff7300
nav_link_color = #3e3e3e

footer_height = 60px
header_height = 62px
