#bs_overrides > main > div > div > div > div.row > div > dl > dd
  text-align left

#bs_overrides > main > div > div > div > div > dl > dd
  text-align left

dl
  margin-bottom 0px

div.dl-horizontal.col-md-6 > dd
  text-align left



#GeneInfo
  text-align left
  padding-left 180px

#VariantListing > div > h4
  text-align left
  padding-left 180px
