#bs_overrides > main > div > div > div > div.row > div > dl > dd
  text-align left


#GeneInfo > dl
  margin-bottom 0px

#bs_overrides > main > div > div > div > div > dl > dd
  text-align left


#GeneInfo
  text-align left
  padding-left 130px
