@import fonts

// dl configuration
dl
  margin-bottom 0px

p
  margin-bottom 0px

#generalInfo > div:nth-child(1) > dl > dd > a
  float left


// position geneinfo section title

#GeneTitle
  text-align left
  font-family: cursive-font-family



// support very long dropdown menu
// https://github.com/twbs/bootstrap/issues/1989
.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
}


#variantTable
  font-size 12px

#variantTable_wrapper > div.dataTables_scroll > div.dataTables_scrollHead > div > table
  font-size 12px
