@import config

#bs_overrides
  img, svg, video, audio
    border 0
    // max-width 100%
  th
    text-align center

  a
    text-decoration none
    // color inherit
    transition 0.3s
    &:hover
      color link_color
      text-decoration none

  button
    color inherit
    transition 0.3s
    cursor pointer
    &:hover
      color link_color
    &:active
      color link_color
