@import fonts
@import config


html
  text-size-adjust 100%
  font-smoothing antialiased
  max-width 100%
  overflow-x hidden
  position: relative;
  height: 100%

.container
  padding-left 0
  padding-right 0


body
  margin 0
  text-align center
  color font_color
  background-color bg_color
  height 100%
  overflow-x hidden
  overflow-y scroll

header
  font 14px default-font-family
  color nav_link_color

#bs_overrides > main
  padding-top: 20px
  min-height: 100%
  padding-bottom: 30px

#bs_overrides > header > nav
  height header_height
  margin 0
  background-color: nav_bar_bg_color
  border-width 1px
  border-bottom-color nav_bar_bot_border_color

#bs_overrides > footer > div
  position relative
  height footer_height
  margin-top: -footer_height
  background-color: nav_bar_bg_color
  border-width: 1px
  border-top-color: nav_bar_bot_border_color



.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background-color nav_bar_bg_color
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color nav_bar_bg_color
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color nav_bar_bg_color
}


// typeahead..

#bs_overrides > main > h1
  padding-bottom: 20px


#bs_overrides > main > div:nth-child(3) > div > div.col-md-8.col-xs-10.input-group > span > div
  width inherit

#bs_overrides > main > div:nth-child(3) > div > div.col-md-8.col-xs-10.input-group > span > div > div.tt-dataset.tt-dataset-genes > h3
  margin 0
  font 18px header-font-family
  padding-left 20px
  padding-top 5px
  padding-bottom: 5px


#bs_overrides > main > div:nth-child(3) > div > div.col-md-8.col-xs-10.input-group > span > div > div.tt-dataset.tt-dataset-variants > h3
  margin 0
  font 18px header-font-family
  padding-left 20px
  padding-top 5px
  padding-bottom: 5px

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
  background-color: inherit
