@import config
@import fonts
// typeahead..
#bs_overrides > main > div:nth-child(3) > div > div.col-md-8.col-xs-10.input-group > span > div
  width inherit

#bs_overrides > main > div:nth-child(3) > div > div.col-md-8.col-xs-10.input-group > span > div > div.tt-dataset.tt-dataset-genes > h3
  margin 0
  font 18px header-font-family
  padding-left 20px
  padding-top 5px
  padding-bottom: 5px


#bs_overrides > main > div:nth-child(3) > div > div.col-md-8.col-xs-10.input-group > span > div > div.tt-dataset.tt-dataset-variants > h3
  margin 0
  font 18px header-font-family
  padding-left 20px
  padding-top 5px
  padding-bottom: 5px


#bs_overrides > main > div:nth-child(3) > div > div.col-md-8.col-xs-10.input-group > span > div > div.tt-dataset.tt-dataset-genes > div:hover
  background-color link_color
  opacity: 0.4;
