@import colours

#bs_overrides
  img, svg, video, audio
    border 0
    // max-width 100%
  th
    text-align center

  a
    text-decoration none
    color inherit
    transition 0.3s
    &:hover
      color link_color
      text-decoration none

  button
    color inherit
    transition 0.3s
    cursor pointer
    &:hover
      color link_color
    &:active
      color link_color

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background-color nav_bar_bg_color
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color nav_bar_bg_color
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color nav_bar_bg_color
}
