extends ../layout
  
block content
  div.row
    div.col-md-2
    div.col-md-8
      table.table.table-hover
        thread
          tr
            th.text-center Symbol 
            th.text-center Entrez Gene ID
        tbody.text-center
        - each row in rows
          tr 
            td
              a(href = '/gene/' + row["ENTREZ_GENE_ID"]) #{row["HUGO_GENE_SYMBOL"]}
            td= row["ENTREZ_GENE_ID"]
    div.col-md-2
  
  
