<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css" rel="stylesheet">
    <title>Personal website</title>
    <link rel="stylesheet" href="assets/css/main.min.css">
</head>

<body id="bs_overrides">
    <header>
        <nav role="navigation" class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#dropdown_menu" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Project name</a></div>
            <div id="dropdown_menu" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Dropdown<span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header"></li>
                            <li><a href="#">Separated link??</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="sidebar"> </div>
    <main>
        <h1></h1>
        <p>Welcome to
            <p>Lorem ipsum doloit amet, consectetur adipiscing elit. Pellentesque dolor eros, tempus eu bibendum sed, venenatis non est. Nullam eu tortor nulla. Proin magna lacus, mollis quis turpis eget, finibus porttitor purus. Donec aliquelacinia ante,
                at rutrum dui commodo quis. Pellentesque pretium libero nec tellus auctor, at consectetur ex blandit. Ut venenatis, massa fringilla laoreet dignissim, dui est placerat ipsum, a facilisis diam ipsum ac mauris. Vivamus suscipit bibendum
                nibh, vitae aliquet est gravida posuere. Donec ac faucibus purus, sed lacinia ante.</p>
            <p>Nunc nec nulla eget odio rutrum convallis. In hac habitasse platea dictumst. Sed metus urna, volutpat et pretium a, hendrerit maximus metus. Mauris euismod at eros id pellentesque. Ut et fringilla ipsum. Sed sit amet nibh mauris. Vivamus eget
                quam elementum nulla elementum mollis. Praesent elementum a enim eget tempus. Aliquam mollis ultricies metus, tempor eleifend nisl bibendum in. Sed mattis elementum tortor, vel ornare nunc lacinia nec. Nunc pretium iaculis mauris, sit
                amet volutpat urna faucibus eget. Nunc luctus ex semper justo tempus ultricies. Nam ac congue metus.</p>
            <p>Nam sit amet velit nisi. Cras ac leo quis risus lacinia sagittis sit amet a tortor. Maecenas porttitor sagittis sem quis accumsan. Quisque blandit ipsum elit, id ultricies quam tincidunt quis. Phasellus nisl diam, lobortis et sollicitudin
                eu, accumsan at nisl. Ut dapibus ultricies arcu. Aliquam cursus lacinia egestas. Vestibulum eros nisi, euismod vitae tristique eu, laoreet a orci. Phasellus non imperdiet justo, at congue sem. Praesent mollis laoreet augue, ut luctus felis
                laoreet ut. Vivamus varius fringilla magna, eu maximus magna efficitur sit amet. Maecenas porttitor congue risus.</p>
            <p>Fusce elementum purus id velit pellentesque, sed pulvinar nibh cursus. Quisque faucibus arcu eget lacus pellentesque, eu facilisis felis sagittis. Aenean nunc mi, tincidunt sagittis elit sit amet, sodales volutpat turpis. Nulla et dolor purus.
                In consectetur hendrerit dolor, interdum mattis erat rutrum consectetur. In vitae eleifend enim, et suscipit felis. Donec interdum, tortor pretium posuere bibendum, quam odio iaculis neque, aliquet luctus lacus sem eu dui. Quisque tincidunt
                arcu ut eros tincidunt, sit amet gravida neque consequat. Nulla fringilla faucibus neque, sit amet facilisis enim interdum nec. Etiam dignissim erat vel facilisis varius. Morbi tellus nibh, condimentum sed ornare a, placerat ut dui. Etiam
                feugiat commodo sem, quis fermentum velit facilisis at. Maecenas porta scelerisque diam ut molestie. Phasellus facilisis tempor lorem, et iaculis lectus accumsan in. Duis varius, ligula et semper rhoncus, diam est maximus tortor, sed bibendum
                est tellus id tortor.</p>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum suscipit vehicula felis, ac tincidunt erat laoreet quis. Curabitur at risus convallis, consequat nunc ut, bibendum tellus. Etiam sit amet justo
                neque. Quisque porttitor euismod volutpat. Morbi ac sapien consequat, fermentum elit in, suscipit ipsum. Sed eu diam lacinia, viverra orci sit amet, pharetra quam.</p>
        </p>
        <div id="contact">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor eros, tempus eu bibendum sed, venenatis non est. Nullam eu tortor nulla. Proin magna lacus, mollis quis turpis eget, finibus porttitor purus. Donec aliquet lacinia
                ante, at rutrum dui commodo quis. Pellentesque pretium libero nec tellus auctor, at consectetur ex blandit. Ut venenatis, massa fringilla laoreet dignissim, dui est placerat ipsum, a facilisis diam ipsum ac mauris. Vivamus suscipit bibendum
                nibh, vitae aliquet est gravida posuere. Donec ac faucibus purus, sed lacinia ante.</p>
            <p>Nunc nec nulla eget odio rutrum convallis. In hac habitasse platea dictumst. Sed metus urna, volutpat et pretium a, hendrerit maximus metus. Mauris euismod at eros id pellentesque. Ut et fringilla ipsum. Sed sit amet nibh mauris. Vivamus eget
                quam elementum nulla elementum mollis. Praesent elementum a enim eget tempus. Aliquam mollis ultricies metus, tempor eleifend nisl bibendum in. Sed mattis elementum tortor, vel ornare nunc lacinia nec. Nunc pretium iaculis mauris, sit
                amet volutpat urna faucibus eget. Nunc luctus ex semper justo tempus ultricies. Nam ac congue metus.</p>
            <p>Nam sit amet velit nisi. Cras ac leo quis risus lacinia sagittis sit amet a tortor. Maecenas porttitor sagittis sem quis accumsan. Quisque blandit ipsum elit, id ultricies quam tincidunt quis. Phasellus nisl diam, lobortis et sollicitudin
                eu, accumsan at nisl. Ut dapibus ultricies arcu. Aliquam cursus lacinia egestas. Vestibulum eros nisi, euismod vitae tristique eu, laoreet a orci. Phasellus non imperdiet justo, at congue sem. Praesent mollis laoreet augue, ut luctus felis
                laoreet ut. Vivamus varius fringilla magna, eu maximus magna efficitur sit amet. Maecenas porttitor congue risus.</p>
            <p>Fusce elementum purus id velit pellentesque, sed pulvinar nibh cursus. Quisque faucibus arcu eget lacus pellentesque, eu facilisis felis sagittis. Aenean nunc mi, tincidunt sagittis elit sit amet, sodales volutpat turpis. Nulla et dolor purus.
                In consectetur hendrerit dolor, interdum mattis erat rutrum consectetur. In vitae eleifend enim, et suscipit felis. Donec interdum, tortor pretium posuere bibendum, quam odio iaculis neque, aliquet luctus lacus sem eu dui. Quisque tincidunt
                arcu ut eros tincidunt, sit amet gravida neque consequat. Nulla fringilla faucibus neque, sit amet facilisis enim interdum nec. Etiam dignissim erat vel facilisis varius. Morbi tellus nibh, condimentum sed ornare a, placerat ut dui. Etiam
                feugiat commodo sem, quis fermentum velit facilisis at. Maecenas porta scelerisque diam ut molestie. Phasellus facilisis tempor lorem, et iaculis lectus accumsan in. Duis varius, ligula et semper rhoncus, diam est maximus tortor, sed bibendum
                est tellus id tortor.</p>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum suscipit vehicula felis, ac tincidunt erat laoreet quis. Curabitur at risus convallis, consequat nunc ut, bibendum tellus. Etiam sit amet justo
                neque. Quisque porttitor euismod volutpat. Morbi ac sapien consequat, fermentum elit in, suscipit ipsum. Sed eu diam lacinia, viverra orci sit amet, pharetra quam.</p>
        </div>
        <div id="about">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor eros, tempus eu bibendum sed, venenatis non est. Nullam eu tortor nulla. Proin magna lacus, mollis quis turpis eget, finibus porttitor purus. Donec aliquet lacinia
                ante, at rutrum dui commodo quis. Pellentesque pretium libero nec tellus auctor, at consectetur ex blandit. Ut venenatis, massa fringilla laoreet dignissim, dui est placerat ipsum, a facilisis diam ipsum ac mauris. Vivamus suscipit bibendum
                nibh, vitae aliquet est gravida posuere. Donec ac faucibus purus, sed lacinia ante.</p>
            <p>Nunc nec nulla eget odio rutrum convallis. In hac habitasse platea dictumst. Sed metus urna, volutpat et pretium a, hendrerit maximus metus. Mauris euismod at eros id pellentesque. Ut et fringilla ipsum. Sed sit amet nibh mauris. Vivamus eget
                quam elementum nulla elementum mollis. Praesent elementum a enim eget tempus. Aliquam mollis ultricies metus, tempor eleifend nisl bibendum in. Sed mattis elementum tortor, vel ornare nunc lacinia nec. Nunc pretium iaculis mauris, sit
                amet volutpat urna faucibus eget. Nunc luctus ex semper justo tempus ultricies. Nam ac congue metus.</p>
            <p>Nam sit amet velit nisi. Cras ac leo quis risus lacinia sagittis sit amet a tortor. Maecenas porttitor sagittis sem quis accumsan. Quisque blandit ipsum elit, id ultricies quam tincidunt quis. Phasellus nisl diam, lobortis et sollicitudin
                eu, accumsan at nisl. Ut dapibus ultricies arcu. Aliquam cursus lacinia egestas. Vestibulum eros nisi, euismod vitae tristique eu, laoreet a orci. Phasellus non imperdiet justo, at congue sem. Praesent mollis laoreet augue, ut luctus felis
                laoreet ut. Vivamus varius fringilla magna, eu maximus magna efficitur sit amet. Maecenas porttitor congue risus.</p>
            <p>Fusce elementum purus id velit pellentesque, sed pulvinar nibh cursus. Quisque faucibus arcu eget lacus pellentesque, eu facilisis felis sagittis. Aenean nunc mi, tincidunt sagittis elit sit amet, sodales volutpat turpis. Nulla et dolor purus.
                In consectetur hendrerit dolor, interdum mattis erat rutrum consectetur. In vitae eleifend enim, et suscipit felis. Donec interdum, tortor pretium posuere bibendum, quam odio iaculis neque, aliquet luctus lacus sem eu dui. Quisque tincidunt
                arcu ut eros tincidunt, sit amet gravida neque consequat. Nulla fringilla faucibus neque, sit amet facilisis enim interdum nec. Etiam dignissim erat vel facilisis varius. Morbi tellus nibh, condimentum sed ornare a, placerat ut dui. Etiam
                feugiat commodo sem, quis fermentum velit facilisis at. Maecenas porta scelerisque diam ut molestie. Phasellus facilisis tempor lorem, et iaculis lectus accumsan in. Duis varius, ligula et semper rhoncus, diam est maximus tortor, sed bibendum
                est tellus id tortor.</p>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum suscipit vehicula felis, ac tincidunt erat laoreet quis. Curabitur at risus convallis, consequat nunc ut, bibendum tellus. Etiam sit amet justo
                neque. Quisque porttitor euismod volutpat. Morbi ac sapien consequat, fermentum elit in, suscipit ipsum. Sed eu diam lacinia, viverra orci sit amet, pharetra quam.</p>
        </div>
    </main>
    <footer>
        <div class="nav navbar-default navbar-static-bottom">
            <div class="container">
                <p class="navbar-text">Copyright © 2016 Mark Wang</p>
            </div>
        </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="assets/js/main.min.js"></script>
</body>

</html>
