extends ../layout

block content
  div.container
    h1 Y2H Results Visualization
    p blue circle = mutant allel. pink circle = wild type allele. dashed edges = y2h_score is 0, solid edges = y2h_score is 1
    div.row 
      div.col-md-12(id="interaction-graph")



block script 
  script(type='text/javascript').
    var data =!{JSON.stringify(data)}
    var y2hInteractionConfig = {
      "height": 800,
      "width": 1000,
      "targetDOM": "#interaction-graph",
      "nodeRadius": 5,
      "textSize": 12
    }
    
    var fg = new forceGraph(data, y2hInteractionConfig)
